
body {
    margin:0;
    padding:0;
    line-height: 1.5em;
}

b{font-size: 110%;}
em{color: red;}


#topsection{
    background: #EAEAEA;
    height: 90px; /*Height of top section*/
}

#topsection h1{
    margin: 0;
    padding-top: 15px;
}

#contentwrapper{
    float: left;
    width: 100%;
}

#contentcolumn{
margin-left: 200px; /*Set left margin to LeftColumnWidth*/
}

#leftcolumn{
    float: left;
    width: 200px; /*Width of left column*/
    margin-left: -100%;
    background: #C8FC98;
}

.menubutton {
    margin-left: 5px;
}

.innertube{
    margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
    margin-top: 0;
}

.svg_logo {
    float: left;
    width: 120px;
    height: 40px;
}

.inl-b {
    display: inline-block;
}
.al-l {
    float: left;
}

.al-r {
    float: right;
}
.post-date-placeholder {
    width: 200px;
}
.post-comment-placeholder {
    width: 400px;
}
.post-exp-placeholder {
    width: 80px;
    text-align: right;
}
.user-id-placeholder {
    width: 20px;
}
.user-nick-placeholder {
    width: 400px;
}
.user-exp-placeholder {
    width: 20px;
}

.user-avatar {
    width: 140px;
    float: left;
}
.user-text-info-container {
    display: inline-block;
    margin-left: 5px;
    width: 600px;
}

.tag-suggestions {
    background-color: #ffffff;
    border: 1px solid #777;
    z-index: 300;
    float: left;
    max-width: 600px;
    max-height: 400px;
    /*background-color: green;*/
    overflow: hidden;
    float: left;
    /*display: table-cell;*/
    display: none;
    cursor:  pointer;
    padding: 5px;
    /*width: 600px;*/
    overflow: hidden;
    float: left;
    position: absolute;
/*    height: 300px;*/
    /*background-color: #ffe6bf;*/
    padding: 5px;
}
.tag-suggestions .match {
    font-weight: bold;
    text-decoration: underline;
}
.post-tag, .post-text .post-tag, .wmd-preview a.post-tag {
    color: #3E6D8E;
    background-color: #E0EAF1;
    border-bottom: 1px solid #b3cee1;
    border-right: 1px solid #b3cee1;
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    font-size: 90%;
    line-height: 2.4;
    white-space: nowrap;
}

.suggestion-item {
    display: inline-block;
    /* width and height will be auto-evaluated */
    padding: 5px;
    margin:  3px;
    /*color:   white;
    background-color: blue; */
}
.suggestion-item:hover {
    background-color: #fff0d9;
}

#send_area_btn {
    display: inline-block;
}

.post_wizard_step23_label {
    display: inline-block;
    width:   100px;
}
.post_wizard_step13_input {
    display: inline-block;
    width:   250px;
}
.post_wizard_step23_input {
    width: 200px;
}